@import 'tailwindcss';
@import 'tw-animate-css';
@import '../styles/theme-default.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-blue-primary: var(--blue-primary);
  --color-grey-primary: var(--grey-primary);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: rgb(107, 106, 106);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #0a65cc;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --blue-primary: #0a65cc;
  --grey-primary: #f1f2f4;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  :root {
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  .dark {
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes dot-bounce {
  0%,
  80%,
  100% {
    transform: scale(0.6);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
.ql-toolbar {
  @apply rounded-t-md border border-gray-300;
}

.ql-container {
  @apply min-h-[180px] rounded-b-md border border-gray-300;
}

.ql-editor {
  @apply min-h-[180px] max-h-[400px] overflow-y-auto;
}

.ql-toolbar .ql-stroke {
  stroke: var(--color-neutral-300) !important;
}
.ql-toolbar .ql-fill,
.ql-size.ql-picker.ql-expanded {
  fill: var(--color-neutral-300) !important;
}
.ql-editor.ql-blank::before {
  @apply !text-gray-400;
}

.ql-active {
  @apply !bg-white/30 !rounded-xs;
}

@keyframes ping-small {
  75%,
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.animate-ping-small {
  animation: ping-small 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

/* Scroll */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* Firefox support */
/* * {
  scrollbar-width: thin;
  scrollbar-color: var(--sidebar) transparent;
} */

/* Custom css Quill */

.quill-render {
  @apply text-sm leading-6 text-zinc-200;
}

.quill-render h1 {
  @apply text-2xl font-semibold mt-6 mb-3;
}
.quill-render h2 {
  @apply text-xl font-semibold mt-5 mb-3;
}
.quill-render h3 {
  @apply text-lg font-semibold mt-4 mb-2;
}
.quill-render h4 {
  @apply text-base font-semibold mt-4 mb-2;
}
.quill-render h5,
.quill-render h6 {
  @apply text-sm font-semibold mt-3 mb-2;
}

.quill-render p {
  @apply my-0 leading-5;
}

.quill-render a {
  @apply text-blue-400 underline underline-offset-2 hover:text-blue-300;
}

.quill-render strong {
  @apply font-semibold text-zinc-100;
}
.quill-render em {
  @apply italic;
}

.quill-render ul {
  @apply list-disc pl-6 my-3;
}
.quill-render ol {
  @apply list-decimal pl-6 my-3;
}
.quill-render li {
  @apply my-1;
}
.quill-render li::marker {
  @apply text-zinc-400;
}

.quill-render blockquote {
  @apply border-l-4 border-blue-400 pl-4 py-2 my-4
         text-zinc-300 italic bg-zinc-900/50 rounded-r;
}

.quill-render img {
  @apply max-w-full rounded-lg my-4;
}

.quill-render table {
  @apply w-full border border-white my-4 text-sm;
}
.quill-render th {
  @apply border border-white bg-zinc-800 px-3 py-2 text-left font-semibold;
}
.quill-render td {
  @apply border border-white px-3 py-2;
}

.quill-render .ql-align-center {
  @apply text-center;
}
.quill-render .ql-align-right {
  @apply text-right;
}
.quill-render .ql-align-left {
  @apply text-left;
}
.quill-render .ql-align-justify {
  @apply text-justify;
}

.quill-render .ql-indent-1 {
  @apply ml-6;
}
.quill-render .ql-indent-2 {
  @apply ml-12;
}
.quill-render .ql-indent-3 {
  @apply ml-20;
}

.quill-render .ql-size-small {
  @apply text-xs;
}
.quill-render .ql-size-large {
  @apply text-lg;
}
.quill-render .ql-size-huge {
  @apply text-2xl;
}

.quill-render .ql-color-red {
  @apply text-red-400;
}
.quill-render .ql-color-blue {
  @apply text-blue-400;
}
.quill-render .ql-color-green {
  @apply text-green-400;
}

.quill-render .ql-bg-yellow {
  @apply bg-yellow-400/20 px-1 rounded;
}

.quill-render code {
  @apply bg-zinc-800 text-zinc-100 px-1 py-0.5 rounded text-xs font-mono;
}

.quill-render .ql-code-block-container {
  @apply my-4 rounded-lg bg-zinc-900 overflow-hidden;
}

.quill-render .ql-code-block {
  @apply font-mono text-sm text-zinc-100 px-4 py-1 leading-relaxed;
}

.quill-render .ql-code-block:first-child {
  @apply pt-3;
}

.quill-render .ql-code-block:last-child {
  @apply pb-3;
}

.quill-render hr {
  @apply my-6 border-zinc-700;
}

.quill-render iframe,
.quill-render video {
  @apply max-w-full rounded-lg my-4;
}
