body:has(.theme-default) {
  background-image: url('/images/bg-main.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}
